.header_ticker{
    text-transform: capitalize;
    padding: 0.3rem;
    background-color: rgb(219, 144, 144);
display: flex; justify-content: center;

}
body{
    margin: 0%;
}
.header{
   /* border: 1px solid slateblue; */
    display: flex;
}
.header{
    display: flex;
    max-width: 1000px;
    min-width: 80%;
 /*   border: 1px solid greenyellow; */
    justify-content: space-between;

}
.header>div{
   /* border: 1px solid blue; */
    width: 100px;
    height: 100px;
}
.header_edge{
    display: flex;
    justify-content: center;
   /* border:  1px solid saddlebrown; */
}
.header > .item > img , 
.header > .item > a {
    margin-right: 1rem;
  border: 1px solid black;
}
.header > .item  {
    display: flex;
    align-items: center;

}
.header > .item3{
    display: flex;
    align-items: center;
}
.nav{
    display: flex;
    border: 1px;
    justify-content: space-around;
    width: 80%;
    max-width: 1000px;
}
.nav > li {
    list-style-type: none;
    border-bottom: 2px solid salmon;
}
.nav
 > li > a {
    text-decoration: none;
    color: black;

 }
.nav > li > a :hover{
    color: aqua;

}

 .nav_edge{
    display: flex;
    justify-content: center;
 }
 main > img {
    align-items: center;
 }
 .img{

    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border: 2px;
    justify-content: space-between;
}
.transition{
    transition: width 2s, height 0.5s ;
}
.transition:hover{
    width: 350px;
    height: fit-content;
    
}
#transition2{

    transition: width 2s , height 0.5s;
}
#transition2:hover{
    width: 350px;
    height: fit-content;
}
details,summary{
color: rgb(87, 77, 77);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 100;
text-align: center;
pointer-events: stroke;
}        
        
    

.footer{
    display: flex;
    justify-content:space-evenly;
    margin: 20px;
    padding: 20px;
    
}

.animation{
    
    text-decoration: none;
color: black;
justify-content: center;

    display: flex;
    animation: bouncing 2s ease 1s infinite alternate both;
    background-color: rgb(47, 160, 160);
    padding: auto;
position: relative;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;
margin-top: 100px;
}
    
@keyframes bouncing {
    0%{
    bottom: 0;
        box-shadow: 0 2 5px black;
    }
    100%
{
    bottom: 100px;
    box-shadow: 0 50px 50px black;
}
}

    
